<!DOCTYPE html>
<html lang="en-us">
<head>
  <%- include(appRoot + '/templates/head.ejs'); %>
</head>
<body>
<header>
  <%- include(appRoot + '/templates/header.ejs'); %>
</header>
<br>
<h1 class="ts-primary ts-header-card">
    Welcome!
</h1>
<br>
<div class="container">
    <p>This is a platform where you can share trans with other people!</p>
    <br/>
    <h3 class="ts-primary ts-mail-card">
        Featured Creations
    </h3>
    <div class="row">
        <div class="col-3">
            WIP
        </div>
        <div class="col-3">
            WIP
        </div>
        <div class="col-3">
            WIP
        </div>
        <div class="col-3">
            WIP
        </div>
    </div>
</div>
</body>
</html>
