<!DOCTYPE html>
<html lang="en-us">
<head>
  <%- include(appRoot + '/templates/head.ejs'); %>
</head>
<body>
<header>
  <%- include(appRoot + '/templates/header.ejs'); %>
</header>
<div class="container">
    <br>
    <h1 class="ts-primary ts-header-card">
        Welcome!
    </h1>
    <br>
    <p>This is a platform where you can share trains with other people!</p>
    <br/>
    <h3 class="ts-primary ts-header-card">
        Featured Creations
    </h3>
    <div class="row">
        <div class="col-3">
            WIP
        </div>
        <div class="col-3">
            WIP
        </div>
        <div class="col-3">
            WIP
        </div>
        <div class="col-3">
            WIP
        </div>
    </div>
</div>
</body>
</html>
