body {
  background: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
}

.ts-primary {
  background-color: rgb(97, 57, 179);
}

.ts-header-card {
  margin-left: 5%;
  padding: 5px 40px 5px 5px;
  display: inline-block;
}

.ts-main-card {
  margin-left: 5px;
  padding: 5px 40px 5px 5px;
  display: inline-block;
}

.ts-card {
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  width: 90%;
}